icon ICON media/icon.ico
tray00 ICON media/tray00.ico
tray01 ICON media/tray01.ico
tray02 ICON media/tray02.ico
tray03 ICON media/tray03.ico
tray04 ICON media/tray04.ico
tray05 ICON media/tray05.ico
tray06 ICON media/tray06.ico
tray07 ICON media/tray07.ico
tray08 ICON media/tray08.ico
tray09 ICON media/tray09.ico
tray10 ICON media/tray10.ico
tray11 ICON media/tray11.ico
tray12 ICON media/tray12.ico
tray13 ICON media/tray13.ico
tray14 ICON media/tray14.ico

#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "TrayCD.exe.manifest"

#define VS_VERSION_INFO 1
VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,4,0,0
	PRODUCTVERSION 0,4,0,0
	FILEFLAGSMASK 0x3fL
	FILEFLAGS 0x0L
	FILEOS 0x40004L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "FileDescription", "TrayCD"
			VALUE "FileVersion", "0.4"
			VALUE "InternalName", "traycd"
			VALUE "OriginalFilename", "TrayCD.exe"
			VALUE "CompanyName", "Stefan Sundin"
			VALUE "LegalCopyright", "© Stefan Sundin 2008"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
